body {background-color:rgb(161, 161, 161);}
h1 {color:black}
h1 {text-align:center}
h2 {color:rgb(255, 0, 0)}
h2 {text-align:center}
p {font-size: x-large}
h3 {text-align:center}
h3{color: red;}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }